policy_module(cassandra, 1.0.0)

type cassandra_t;

type cassandra_db_t;
type cassandra_log_t;
type cassandra_conf_t;
type cassandra_var_run_t;
type cassandra_exec_t;
type cassandra_tmp_t;



files_type(cassandra_db_t)
files_type(cassandra_log_t)
files_type(cassandra_conf_t)
files_type(cassandra_var_run_t)
files_type(cassandra_exec_t)
files_type(cassandra_tmp_t)

logging_log_file(cassandra_log_t)
files_pid_file(cassandra_var_run_t)

init_daemon_domain(cassandra_t, cassandra_exec_t)
corecmd_exec_bin(cassandra_t)

sysnet_dns_name_resolve(cassandra_t)
dev_read_urand(cassandra_t)
dev_read_rand(cassandra_t)
auth_read_passwd(cassandra_t)
fs_getattr_xattr_fs(cassandra_t)

kernel_read_system_state(cassandra_t)
kernel_read_network_state(cassandra_t)
kernel_read_net_sysctls(cassandra_t)

dev_list_sysfs(cassandra_t)
corenet_tcp_bind_afs3_callback_port(cassandra_t)
corenet_tcp_bind_generic_node(cassandra_t)
corenet_tcp_connect_afs3_callback_port(cassandra_t)
corenet_tcp_connect_generic_port(cassandra_t)
corenet_tcp_bind_generic_port(cassandra_t)

allow cassandra_t cassandra_conf_t:dir { getattr search };
allow cassandra_t cassandra_conf_t:file { read getattr open };
allow cassandra_t cassandra_conf_t:lnk_file { read getattr };
allow cassandra_t cassandra_db_t:dir { search read create write getattr remove_name open add_name };
allow cassandra_t cassandra_db_t:file { rename read create write getattr link unlink open append };
allow cassandra_t cassandra_log_t:file { write open };

allow cassandra_t cassandra_tmp_t:dir { search read create write getattr remove_name open add_name };
allow cassandra_t cassandra_tmp_t:file { write execute read create unlink open getattr };
allow cassandra_t self:process { execmem setsched };
allow cassandra_t self:tcp_socket { accept listen };

files_tmp_filetrans(cassandra_t, cassandra_tmp_t, { file dir })
